.process-animation .animated {
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-play-state: paused;
}

/*********** Upload Animation ************/

@keyframes upload-resume {
    0% {margin-left: 0%; height: 0%;}
    15% {margin-left: 0%; height: 0%;}
    30% {margin-left: 0%; height: 100%;}
    75% {margin-left: 70%; height: 100%;}
    100% {margin-left: 90%; height: 0%;}
}

#upload-animation .resume-img {
    animation-name: upload-resume;
}

#upload-animation .server-img {
    height: 100%;
    margin-left: auto;
}

/********** Analysis Animation ************/

@keyframes OLD-analyze-resume {
    0% {margin-left: 0%; padding-bottom: 0%;}
    12.5% {margin-left: 20%; padding-bottom: 5%;}
    25% {margin-left: 40%; padding-bottom: 0%;}
    37.5% {margin-left: 60%; padding-bottom: -5%;}
    50% {margin-left: 80%; padding-bottom: 0%;}
    62.5% {margin-left: 60%; padding-bottom: 5%;}
    75% {margin-left: 40%; padding-bottom: 0%;}
    87.5% {margin-left: 20%; padding-bottom: -5%;}
    100% {margin-left: 0%; padding-bottom: 0%;}
}

@keyframes analyze-resume {
    0% {margin-left: 0%}
    50% {margin-left: 80%}
    100% {margin-left: 0%}
}

#analysis-animation .wand-img {
    height: 150%;
    margin-bottom: -10%;
    animation-name: analyze-resume;
}