/*********** Upload Animation ************/

@keyframes upload-resume {
    0% {margin-left: 0%; height: 0%;}
    15% {margin-left: 0%; height: 0%;}
    30% {margin-left: 0%; height: 100%;}
    75% {margin-left: 70%; height: 100%;}
    100% {margin-left: 90%; height: 0%;}
}

@keyframes upload-server {
    60% {height: 100%;}
    75% {height: 100%;}
    100% {height: 100%;}
}

#upload-animation .animated {
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-play-state: paused;
}

#upload-animation .resume-img {
    animation-name: upload-resume;
}

#upload-animation .server-img {
    height: 100%;
    margin-left: auto;
}