/************* Color Pallete *************

- green: #008635
- dark grey (primary background): #212121
- medium grey (secondary background): #414141
- white (primary text): #ffffff
- subtle grey: #888888

/*****************************************/

/************* Site Defaults *************/

body {
    margin: 0 auto;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    background-color: #414141;
    font-weight: 400;
}

main {
    flex-grow: 1;
}

.flex {
    justify-content: space-evenly;
}

.flex, body {
    display: flex;
}

footer, body, .index div, .upload-files form {
    flex-direction: column;
}

/********* Site-Wide Text Styling ********/

/* First level headings bold */
h1 {
    font-weight: 500;
}

/* Default link properties */
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/* Text Size Classes */
.large-text {
    font-size: 48px;
}
.small-text {
    font-size: 12px;
}

/* White color */
body, header a, a:hover, p {
    color: #ffffff; 
}

/* Subtle Grey Color */
footer a, footer p {
    color: #888888;
}

header, footer, .index div, .upload-files form {
    align-items: center;
}

/********* Header/Footer Styling *********/

/* Header Styling */
header {
    height: 120px;
    margin-bottom: 20px;
}

/* Header links */
header a:hover {
    text-decoration: none;
}

header .flex {
    flex-grow: 1;
}

/* Header Title */
header .flex h1 {
    justify-self: center;
    text-align: center;
    flex-grow: 1;
}

/* Footer Styling */
footer {
    height: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
}

/* Combined Styling (bg color) */
header, footer {
    background-color: #212121;    
}

/************* Icon Styling **************/

#header-icons {
    position: relative;
}

#resume-icon {
    height: 100%;
    position: relative;
}

#wand-icon {
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50px;
}

/************ Home Page Styling **********/

.index div section {
    margin-top: 10px;
    margin-bottom: 10px;
}

/************ Button Styling *************/

/* Hide default buttons */
.upload-files input {
    display: none;
}

#file-submit, .custom-input {
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    font-weight: 600;
    border-color: #212121;
    background-color: #276a42;
}

.custom-input:hover, #file-submit:hover {
    background-color: #00b347;
}

/********* File Uploads Styling **********/

/* Form size */
.upload-files {
    width: 100%;
}

/* Input sections */
.upload-files form label {
    margin-top: 25px;
}

.upload-files form textarea {
    width: 30%;;
    height: 200px;
    margin-bottom: 25px;
    resize: none;
}

#file-submit{
    height: 40px;
    color: white;
}
