/************* Color Pallete *************

- green: #008635
- dark grey (primary background): #212121
- medium grey (secondary background): #414141
- white (primary text): #ffffff
- subtle grey: #888888

/*****************************************/

/************* Site Defaults *************/

body {
    margin: 0 auto;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    background-color: #414141;
    font-weight: 400;
}

main {
    flex-grow: 1;
}

.flex {
    justify-content: space-evenly;
}

.flex, body, #upload-animation {
    display: flex;
}

footer, body, .upload-files form {
    flex-direction: column;
}

/* Use columns for body div on small screens */
@media only screen and (max-width: 600px) {
    body div {
        flex-direction: column;
    }
}

/* Adjust width for large screens */
@media only screen and (min-width: 600px) {
    .upload-files {
        width: 33%;
    }
}

/********* Site-Wide Text Styling ********/

/* First level headings bold */
h1 {
    font-weight: 500;
}

/* Default link properties */
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/* Text Size Classes */
.large-text {
    text-transform: uppercase;
    font-size: 28px;
}
.small-text {
    font-size: 12px;
}

/* White color */
body, a, a:hover, p {
    color: #ffffff; 
}

/* Subtle Grey Color */
footer a, footer p, .small-text {
    color: #888888;
}

header, footer, .upload-files form, #upload-animation {
    align-items: center;
}

/* Base h2 */
h2 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 10;
}

ol {
    list-style-type:decimal;
    padding-left: 4vh;
}

/********* Header/Footer Styling *********/

/* Header Styling */
header {
    height: 60px;
    margin-bottom: 20px;
}

/* Header links */
header a:hover {
    text-decoration: none;
}

header .flex {
    flex-grow: 1;
}

/* Header Title */
header .flex h1 {
    justify-self: center;
    text-align: center;
    flex-grow: 1;
}

/* Footer Styling */
footer {
    height: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
}

/* Combined Styling (bg color) */
header, footer {
    background-color: #212121;  
}

/************ Home Page Styling **********/

.index div section {
    margin-right: 25px;
    margin-left: 25px;
}

/* h2 inside of index sections */
.index h2 {
    letter-spacing: 1vh;
    margin-bottom: 5vh;
    width: 50%;
}

/* Section descriptions */
.index .section-description {
    margin-bottom: 5vh;
    width: 100%;
    font-weight: lighter;
}

/* Form section */
.upload-files {
    flex-grow: 2;
}

/* About section */
.about {
    flex-grow: 0.5;
    width: 66%;
}

/************ Button Styling *************/

/* Hide default buttons */
.upload-files input, #file-submit {
    display: none;
}

/* Job description, submit button and custom-input shared properties */
#job-description, .custom-input, #upload-animation, .message {
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: #212121;
    padding: 5px;
}

#job-description, .custom-input {
    width: 100%;
}

#upload-animation, .disabled-input {
    background-color: #333333;
    border-color: #333333;
}

.custom-input {
    background-color: #212121;
}
.custom-input {
    text-align: center;
    font-weight: 600;
}
.white-hover:hover, .message {
    background-color: #ffffff;
    color: black;
}

.disabled-input {
    background-color: #333333;
    border-color: #333333;
}

/********* File Uploads Styling **********/

/* Spacing between inputs */
.upload-files form label {
    margin-bottom: 25px;
}

/* Text area size, bottom spacing, and resize property */
#job-description {
    height: 200px;
    resize: none;
}

/* File transfer animation */
#upload-animation {
    justify-content: right;
    flex-direction: row;
    width: 30%;
    height: 30px;
    margin-top: -32px;
    opacity: 0;
}

/******** Popup Message Styling **********/

#message-container {
    position: absolute;
    left: 1%;
    width: 20%;
    text-align: center;
    flex-direction: column-reverse;
}

.message {
    padding: 3%;
}

.message .close {
    float: inline-start;
    font-weight: 600;
}
.message .close:hover {
    color: #212121;
}
.message p {
    font-weight: light;
}
.message .close, .message p {
    color: #414141;
}